.dropdown-menu > .dropdown-submenu {
  position: relative;
}
.dropdown-menu > .dropdown-submenu > .dropdown-item {
  padding-right: 2.5rem;
}
.dropdown-menu > .dropdown-submenu > .dropdown-item:after {
  content: "\e9c7";
  font-family: icomoon;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  right: 1rem;
  font-size: 1rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown-menu > .dropdown-submenu.show > .dropdown-item, .dropdown-menu > .dropdown-submenu:hover > .dropdown-item {
  background-color: #f5f5f5;
  color: #333;
}
.dropdown-menu > .dropdown-submenu:focus > .dropdown-item:not(.dropdown-toggle) ~ .dropdown-menu, .dropdown-menu > .dropdown-submenu:hover > .dropdown-item:not(.dropdown-toggle) ~ .dropdown-menu {
  display: block;
}
.dropdown-menu > .dropdown-submenu.disabled > .dropdown-menu {
  display: none;
}
.dropdown-menu > .dropdown-submenu.disabled > .dropdown-item {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.dropdown-menu > .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.5625rem;
}
.dropdown-menu > .dropdown-submenu.dropdown-submenu-left > .dropdown-menu {
  left: auto;
  right: 100%;
}
.dropdown-menu .dropup > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -0.5625rem;
}
.dropdown-menu .dropdown-submenu + .dropdown-submenu {
  margin-top: 1px;
}

@media (max-width: 991.98px) {
  .dropdown-menu > .dropdown-submenu .dropdown-toggle:after {
    content: "\e9c5";
  }
  .dropdown-menu > .dropdown-submenu .dropdown-menu, .dropdown-menu > .dropdown-submenu.dropdown-submenu-left .dropdown-menu {
    position: static;
    margin: 0 !important;
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-item {
    padding-left: 2rem;
  }
  .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-item {
    padding-left: 2rem;
  }
  .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-item, .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-item {
    padding-left: 3rem;
  }
}
.dropright .dropdown-toggle::after {
  vertical-align: middle;
}

.dropleft .dropdown-toggle::before {
  vertical-align: middle;
}
.dropleft .dropdown-submenu .dropdown-toggle::before {
  content: none;
}

.dropdown-menu-lg .dropdown-item {
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
  font-size: 0.875rem;
  line-height: 1.4286;
}

.dropdown-menu-sm .dropdown-item {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1.6667;
}

.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-item, .dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu > .dropdown-item {
  color: #fff;
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-item:focus, .dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu > .dropdown-item:focus, .dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu > .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-item.active, .dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu > .dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-item.disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu > .dropdown-item.disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu.show > .dropdown-item, .dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu:hover > .dropdown-item {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-submenu.disabled > .dropdown-item {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-header {
  color: rgba(255, 255, 255, 0.6);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-header-highlight {
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu[class*=bg-]:not(.bg-white):not(.bg-light) > .dropdown-divider {
  border-top-color: rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=limitless-dropdown.css.map */
